Привет, меня зовут Артем Хуршудов. Сегодня я проверю твой проект.
<br> Дальнейшее общение будет происходить на "ты" если это не вызывает никаких проблем.
<br> Желательно реагировать на каждый мой комментарий ('исправил', 'не понятно как исправить ошибку', ...)
<br> Пожалуйста, не удаляй комментарии ревьюера, так как они повышают качество повторного ревью.

Комментарии будут в <font color='green'>зеленой</font>, <font color='blue'>синей</font> или <font color='red'>красной</font> рамках:

<div class="alert alert-block alert-success">
<b>Успех:</b> Если все сделано отлично
</div>

<div class="alert alert-block alert-info">
<b>Совет: </b> Если можно немного улучшить
</div>

<div class="alert alert-block alert-danger">
<b>Ошибка:</b> Если требуются исправления. Работа не может быть принята с красными комментариями.
</div>

-------------------

Будет очень хорошо, если ты будешь помечать свои действия следующим образом:
<div class="alert alert-block alert-warning">
<b>Комментарий студента:</b> ...
</div>

<div class="alert alert-block alert-warning">
<b>Изменения:</b> Были внесены следующие изменения ...
</div>

### <font color='orange'>Общее впечатление</font>
* Большое спасибо за проделанную работу. Видно, что приложено много усилий.
* Выводы и рассуждения получились содержательными, их было интересно читать.
* Радует, что тебе удалось разобраться с техникой бутстрапа.
* Отлично, что доверительный интервал и риск убытков посчитаны верно.
* Я оставил несколько советов, надеюсь, что они будут учтены в будущих проектах.
* Редко, кто сдает эту работу с первого раза, молодец!
* Проект может быть зачтен, но я его отправлю назад, чтобы у тебя была возможность задать вопросы и внести правки, при желании. Однако, ты можешь просто вернуть проект в таком же виде и я его зачту.

### <font color='orange'>Общее впечатление (ревью 2)</font>
* Проект зачтен!
* Удачи в дальнейшем обучении и следующих работах!

# Выбор локации для скважины

Допустим, вы работаете в добывающей компании «ГлавРосГосНефть». Нужно решить, где бурить новую скважину.

Вам предоставлены пробы нефти в трёх регионах: в каждом 10 000 месторождений, где измерили качество нефти и объём её запасов. Постройте модель машинного обучения, которая поможет определить регион, где добыча принесёт наибольшую прибыль. Проанализируйте возможную прибыль и риски техникой *Bootstrap.*

Шаги для выбора локации:

- В избранном регионе ищут месторождения, для каждого определяют значения признаков;
- Строят модель и оценивают объём запасов;
- Выбирают месторождения с самым высокими оценками значений. Количество месторождений зависит от бюджета компании и стоимости разработки одной скважины;
- Прибыль равна суммарной прибыли отобранных месторождений.

## Загрузка и подготовка данных

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')

<div class="alert alert-block alert-success">
<b>Успех:</b> Отлично, что все импорты собраны в первой ячейке ноутбука! Если у того, кто будет запускать твой ноутбук будут отсутствовать некоторые библиотеки, то он это увидит сразу, а не в процессе!
</div>

In [2]:
geo_data_0 = pd.read_csv('/datasets/geo_data_0.csv')
geo_data_0.info()
display (geo_data_0.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

In [3]:
geo_data_1 = pd.read_csv('/datasets/geo_data_1.csv')
geo_data_1.info()
display (geo_data_1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

In [4]:
geo_data_2 = pd.read_csv('/datasets/geo_data_2.csv')
geo_data_2.info()
display (geo_data_2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

<div class="alert alert-info">
<font color='black'> <b> Определим количество пропущенных значений и дубликаты. Видно, что в трех файлах отсутствуют пропуски и дубликаты. Удалим лишний столбец 'id', не несущий полезной информации</font> <b>

In [5]:
display (geo_data_0.isna().sum())
geo_data_0.duplicated().sum()

id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

0

In [6]:
display (geo_data_1.isna().sum())
geo_data_1.duplicated().sum()

id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

0

In [7]:
display (geo_data_2.isna().sum())
geo_data_2.duplicated().sum()

id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

0

In [8]:
geo_data_0 = geo_data_0.drop(['id'], axis=1)
geo_data_1 = geo_data_1.drop(['id'], axis=1)
geo_data_2 = geo_data_2.drop(['id'], axis=1)

<div class="alert alert-block alert-success">
<b>Успех:</b> Данные загружены и осмотрены корректно. Согласен, что колонка id нам не нужна.
</div>

## Обучение и проверка модели

In [9]:
features_0 = geo_data_0.drop('product', axis=1)
target_0 = geo_data_0['product']
features_train_0, features_val_0, target_train_0, target_val_0 = train_test_split(features_0, target_0, test_size=0.25, random_state=12345)

In [10]:
features_1 = geo_data_1.drop('product', axis=1)
target_1 = geo_data_1['product']
features_train_1, features_val_1, target_train_1, target_val_1 = train_test_split(features_1, target_1, test_size=0.25, random_state=12345)

In [11]:
features_2 = geo_data_2.drop('product', axis=1)
target_2 = geo_data_2['product']
features_train_2, features_val_2, target_train_2, target_val_2 = train_test_split(features_2, target_2, test_size=0.25, random_state=12345)

In [12]:
model = LinearRegression()

model.fit(features_train_0, target_train_0)
predicted_target_0 = model.predict(features_val_0)
print('RMSE -', mean_squared_error(target_val_0, predicted_target_0)**0.5)

RMSE - 37.5794217150813

In [13]:
model.fit(features_train_1, target_train_1)
predicted_target_1 = model.predict(features_val_1)
print('RMSE -', mean_squared_error(target_val_1, predicted_target_1)**0.5)

RMSE - 0.893099286775617

In [14]:
model.fit(features_train_2, target_train_2)
predicted_target_2 = model.predict(features_val_2)
print('RMSE -', mean_squared_error(target_val_2, predicted_target_2)**0.5)

RMSE - 40.02970873393434

In [15]:
data_0 = {'product' : target_val_0,
          'predicted_product' : predicted_target_0}
data_0_pd=pd.DataFrame(data_0, columns = ['product', 'predicted_product'])
display (data_0_pd.head(), 'Среднее предсказанное количество', data_0_pd['predicted_product'].mean(), 'Среднее количество', data_0_pd['product'].mean())

          product  predicted_product
71751   10.038645          95.894952
80493  114.551489          77.572583
2655   132.603635          77.892640
53233  169.072125          90.175134
91141  122.325180          70.510088

'Среднее предсказанное количество'

92.59256778438035

'Среднее количество'

92.07859674082927

In [16]:
data_1 = {'product' : target_val_1,
          'predicted_product' : predicted_target_1}
data_1_pd=pd.DataFrame(data_1, columns = ['product', 'predicted_product'])
display (data_1_pd.head(), 'Среднее предсказанное количество', data_1_pd['predicted_product'].mean(), 'Среднее количество', data_1_pd['product'].mean())

         product  predicted_product
71751  80.859783          82.663314
80493  53.906522          54.431786
2655   30.132364          29.748760
53233  53.906522          53.552133
91141   0.000000           1.243856

'Среднее предсказанное количество'

68.728546895446

'Среднее количество'

68.72313602435997

In [17]:
data_2 = {'product' : target_val_2,
          'predicted_product' : predicted_target_2}
data_2_pd=pd.DataFrame(data_2, columns = ['product', 'predicted_product'])
display (data_2_pd.head(), 'Среднее предсказанное количество', data_2_pd['predicted_product'].mean(), 'Среднее количество', data_2_pd['product'].mean())

          product  predicted_product
71751   61.212375          93.599633
80493   41.850118          75.105159
2655    57.776581          90.066809
53233  100.053761         105.162375
91141  109.897122         115.303310

'Среднее предсказанное количество'

94.96504596800489

'Среднее количество'

94.88423280885438

<div class="alert alert-block alert-success">
<b>Успех:</b> Модели обучены корректно.
</div>

<div class="alert alert-block alert-info">
<b>Совет: </b> На протяжении всего проекта происходит работа с 3мя одинаковыми таблицами. В связи с этим можно было использовать функции и/или циклы, чтобы избежать копирования кода.
<br> Зачем его нужно избегать? Потому что очень часто оно приводит к ошибкам (например, забыл поменять одну из переменных). Впоследствии такие ошибки очень трудно найти.
</div>

## Подготовка к расчёту прибыли

In [18]:
budget = 10000000
chosen_points = 500
best_points = 200
price_per_barrel = 450

In [19]:
revenue_per_point = budget / best_points
print('Необходимая выручка на месторождение -', revenue_per_point, 'тыс.руб.')

barrels_per_point = revenue_per_point  / price_per_barrel
print('Необходимый объем нефти на точку -', barrels_per_point, 'тыс. барелей')

barrels_sum = budget / price_per_barrel
print('Необходимый объем нефти на регион -', barrels_sum, 'тыс. барелей')

Необходимая выручка на месторождение - 50000.0 тыс.руб.
Необходимый объем нефти на точку - 111.11111111111111 тыс. барелей
Необходимый объем нефти на регион - 22222.222222222223 тыс. барелей

In [20]:
print('Средний запас фактичекой нефти на скважину в регионе 1', geo_data_0['product'].mean())
print('Средний запас фактичекой нефти на скважину в регионе 2', geo_data_1['product'].mean())
print('Средний запас фактичекой нефти на скважину в регионе 3', geo_data_2['product'].mean())

Средний запас фактичекой нефти на скважину в регионе 1 92.50000000000001
Средний запас фактичекой нефти на скважину в регионе 2 68.82500000000002
Средний запас фактичекой нефти на скважину в регионе 3 95.00000000000004

<div class="alert alert-info">
<font color='black'> <b> В 1 и 3 регионе среднее значение имеющейся нефти близко к необходимому объему нефти на точку</font> <b>

<div class="alert alert-block alert-info">

<b>Совет: </b> В названиях константных переменных лучше использовать только БОЛЬШИЕ буквы. Это соглашение между программистами: https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html#id29 .
</div>

<div class="alert alert-block alert-success">
<b>Успех:</b> Точка безубыточности найдена верно, сравнение проведено!
</div>

In [21]:
def profit_calculation(target, probabilities, count):
    probs_sorted = probabilities.sort_values(ascending=False)
    selected = target[probs_sorted.index][:count]
    return price_per_barrel * selected.sum() - budget

<div class="alert alert-block alert-success">
<b>Успех:</b> Верно.
</div>

## Расчёт прибыли и рисков

In [22]:
state = np.random.RandomState(12345)
def bootstrap_1000(target, probs):
    values=[]
    lost = 0
    for i in range(1000):
        target_sample = target.sample(replace=True, random_state=state, n=chosen_points)
        probs_sample = probs[target_sample.index]
        profit = profit_calculation(target, probs_sample, best_points)
        if profit < 0:
            lost +=1
        values.append(profit)
    
    values = pd.Series(values)
    lower = values.quantile(0.025)
    upper = values.quantile(0.975)
    average = values.mean()
    risk = lost / 1000
    return average, lower, upper, risk

<div class="alert alert-block alert-success">
<b>Успех:</b> Отлично, что для подсчета доверительного интервала использовался именно метод квантилей!
</div>


<div class="alert alert-block alert-info">

<b>Совет: </b> Риск можно было найти чуть проще: `(values < 0).mean()`, если объект типа pandas Series или numpy array.
</div>

In [23]:
average_0, lower_0, upper_0, risk_0 = bootstrap_1000(data_0_pd['product'], 
                                                     data_0_pd['predicted_product'])
average_1, lower_1, upper_1, risk_1 = bootstrap_1000(data_1_pd['product'], 
                                                     data_1_pd['predicted_product'])
average_2, lower_2, upper_2, risk_2 = bootstrap_1000(data_2_pd['product'], 
                                                     data_2_pd['predicted_product'])

In [24]:
print('Первый регион:')
print('Средняя прибыль по региону =',  average_0, 'тыс.руб.')
print(f'95% доверительный интервал от {lower_0} до {upper_0} тыс.руб.')
print(f'Процент риска {risk_0*100}%')

Первый регион:
Средняя прибыль по региону = 396164.9848023711 тыс.руб.
95% доверительный интервал от -111215.54589049607 до 909766.9415534219 тыс.руб.
Процент риска 6.9%

In [25]:
print('Второй регион:')
print('Средняя прибыль по региону =',  average_1, 'тыс.руб.')
print(f'95% доверительный интервал от {lower_1} до {upper_1} тыс.руб.')
print(f'Процент риска {risk_1*100}%')

Второй регион:
Средняя прибыль по региону = 461155.8172772397 тыс.руб.
95% доверительный интервал от 78050.81075174105 до 862952.0602637231 тыс.руб.
Процент риска 0.7000000000000001%

In [26]:
print('Третий регион:')
print('Средняя прибыль по региону =',  average_2, 'тыс.руб.')
print(f'95% доверительный интервал от {lower_2} до {upper_2} тыс.руб.')
print(f'Процент риска {risk_2*100}%')

Третий регион:
Средняя прибыль по региону = 392950.47517060454 тыс.руб.
95% доверительный интервал от -112227.62537857569 до 934562.914551164 тыс.руб.
Процент риска 6.5%

<div class="alert alert-info">
<font color='black'> <b> 1 и 3 регион не проходят по требуемому уровню риска, во втором будет прибыль</font> <b>

<div class="alert alert-block alert-success">
<b>Успех:</b> С выбором региона согласен.
</div>

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  Jupyter Notebook открыт
- [x]  Весь код выполняется без ошибок
- [x]  Ячейки с кодом расположены в порядке исполнения
- [x]  Выполнен шаг 1: данные подготовлены
- [x]  Выполнен шаг 2: модели обучены и проверены
    - [x]  Данные корректно разбиты на обучающую и валидационную выборки
    - [x]  Модели обучены, предсказания сделаны
    - [x]  Предсказания и правильные ответы на валидационной выборке сохранены
    - [x]  На экране напечатаны результаты
    - [x]  Сделаны выводы
- [x]  Выполнен шаг 3: проведена подготовка к расчёту прибыли
    - [x]  Для всех ключевых значений созданы константы Python
    - [x]  Посчитано минимальное среднее количество продукта в месторождениях региона, достаточное для разработки
    - [x]  По предыдущему пункту сделаны выводы
    - [x]  Написана функция расчёта прибыли
- [x]  Выполнен шаг 4: посчитаны риски и прибыль
    - [x]  Проведена процедура *Bootstrap*
    - [x]  Все параметры бутстрепа соответствуют условию
    - [x]  Найдены все нужные величины
    - [x]  Предложен регион для разработки месторождения
    - [x]  Выбор региона обоснован